<!DOCTYPE html>
<html ng-app="resourceApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"  />
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="stylesheet" th:href="@{/assets/jstree/themes/default/style.css}" />
    <title>菜单管理</title>
    <style type="text/css">
    	#menu-edit .add_menu tr{
            margin-bottom:10px;
    	}
        #menu-edit .add_menu td{
            line-height:28px !important;
        }
    </style>
</head>
<body ng-controller="resourceCtrl">
<div class="page-content">
	<div style="width:20%;overflow:auto;float:left;">
		<div id="jstree"></div>
	</div>
	<div id="menu-edit" style="width:80%;display:none">
		<div style="margin-top:10px;margin-left:20px;" >
			<button type="button" class="btn btn-primary" ht-save="/menu/add{{params}}" ng-model="resource" >保存</button>
		</div>
		<form name="form" method="post">
            <div class="add_menu">
                <div id="Adding_menu">
                    <div class="page-content">
                        <table cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td class="label_name">菜单名称</td>
                                <td>
                                    <input name="menuName" type="text" ng-model="resource.name" class="addtext" value="" style="width: 300px"  title="" ht-validate="{maxlength:100}" />
                                    <i style="color: #F60;">*</i>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_name">是否显示</td>
                                <td>
                                    <div class="radio ">
                                        <label>
                                            <input type="radio" class="ace" name="isShow" ng-model="resource.isShow"  ng-init="resource.isShow=1"  ng-checked="resource.isShow==1" value="1"  />
                                            <span class="lbl">是</span>
                                        </label>
                                    </div>
                                    <div class="radio ">
                                        <label>
                                            <input type="radio" class="ace" name="isShow"  ng-model="resource.isShow"  ng-checked="resource.isShow==0" value="0"  />
                                            <span class="lbl">否</span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_name">类型</td>
                                <td>
                                    <select name="type" ng-model="resource.type" ng-options="type.typeId as type.name for type in resourceType" size="1" id="select_type" title="">
                                    </select>
                                    <i style="color: #F60;">*</i>
                                </td>
                            </tr>
                            <tr>
                                <td class="label_name">URL地址</td>
                                <td>
                                    <input name="url" title="" type="text" ng-model="resource.url" value="" style="width: 300px" ht-validate="{required:false}" />
                                </td>
                            </tr>
                             <tr>
                                <td class="label_name">icon</td>
                                <td>
                                    <input name="icon" title="" type="text" ng-model="resource.icon" value="" style="width: 300px" ht-validate="{number:true}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label_name">描述</td>
                                <td>
                                    <input name="remark" type="text" ng-model="resource.remark" value="" style="width: 300px"  title=""/>
                                </td>
                            </tr>
                        </table>
                     </div>
                 </div>
             </div>
        </form>
	</div>
</div>
<script th:src="@{/js/lib/jquery/jquery-1.8.3.min.js}"></script>
<script th:src="@{/js/lib/angular/angular.min.js}"></script>
<script th:src="@{/js/lib/angular/angular-sanitize.min.js}"></script>
<script th:src="@{/js/BaseService.js}"></script>
<script th:src="@{/js/common/customValid.js}"></script>
<script th:src="@{/js/common/FormDirective.js}"></script>
<script th:src="@{/js/system/controller/MenuCtrl.js}"></script>
<script th:src="@{/js/system/service/MenuService.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/layer/layer.js}" type="text/javascript"></script>
<script th:src="@{/assets/jstree/jstree.min.js}" type="text/javascript"></script>

<script>
var layerIndex,jstree,currentNode;
(function(){
	jstree = $('#jstree').jstree({
		"core" : {
	     "animation" : 0,
	     "check_callback" : true,
	     "themes" : { },
		  "data" : {
		    "url" : function (node) {
		    	return _ctx+"/menu/getTree";
		    },
		    "data" : function (node) {
		    	return { "id" : node.id };
		    },
		  }},
		  "plugins" : [ "contextmenu","search" ],
	      "contextmenu":{  
	        "items":{  
	            "create":null,  
	            "rename":null,  
	            "remove":null,  
	            "ccp":null,
	            "editMenu":{
	            	"label":"编辑",
	            	"action":function(data){
	            		openMenuEdit("edit",getSelectItem(data).id);
	            	}
	            },
	            "addMenu":{
	            	"label":"添加同级菜单",
	            	"action":function(data){
	            		openMenuEdit("add",getSelectItem(data).id);
	            	}
	            },
	            "addSubMenu":{
	            	"label":"添加子菜单",
	            	"action":function(data){
	            		openMenuEdit("add",getSelectItem(data).parent);
	            	}
	            },
	            "moveMenu":{
	            	"label":"移动菜单",
	            	"action":function(data){
	            		
	            	}
	            },
	            "delMenu":{  
					"separator_before":true,	            	
	                "label":"删除菜单",  
	                "action":function(data){  
	                	getSelectItem(data);
	                }  
	            }
	        }} 
		  
		  
	});
	function getSelectItem(data){
		var inst = $.jstree.reference(data.reference),
		    obj = inst.get_node(data.reference);
		return obj;
	}
	
	function openMenuEdit(action,id){
		var title = action == "edit"? "编辑":"添加";
		var scope = AngularUtil.getScope();
		scope.resources = {};	
		if(action == "edit"){
			AngularUtil.triggerScopeFun("getByMenuId",id);
		}
		// 添加同级菜单
		if(action == "add"){
			scope.resources.parentId = id;
		}
			
		layerIndex = layer.open({
			type : 1,
			title : title,
			shadeClose : true, //点击遮罩关闭层
			area : [ '800px', '440px' ],
			content : $('#menu-edit'),
	     });
	}
	
})();

</script>

</body>
</html>


