<!DOCTYPE html>
<html ng-app="resourceApp" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"  />
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <title>菜单管理</title>
    <style type="text/css">
        .Manager_style .Role_xinxi td, .Menu_Manager .add_menu td{
            line-height:28px !important;
        }
    </style>
</head>
<body ng-controller="resourceCtrl">
<div class="page-content">
    <!--菜单管理-->
    <div class="Menu_Manager">
        <form id="form1" name="form1" method="post" action="">
            <div class="Manager_style add_user_info search_style">
                <ul class="search_content clearfix">
                    <li><label class="lf">菜单编号</label><input name="resourceId" ng-model="requestParam.param.resId" type="text"  class="text_add" title=""/></li>
                    <li><label class="lf">菜单名称</label><input name="sign" ng-model="requestParam.param.name" type="text"  class="text_add" title=""/></li>
                    <button id="btn_search" ng-click="resourceSearch = !resourceSearch"  type="button" class="btn btn-primary">查询</button>
                </ul>
                <ul class="search_content clearfix">
                    <button type="button" class="btn btn-primary"  ng-click="updateResource(1)">添加</button>
                    <button type="button" class="btn btn-success" ng-click="updateResource(0)">修改</button>
                    <button type="button" class="btn btn-warning" ng-click="deleteResource()">删除</button>
                </ul>
                <div class="add_menu">
                    <div id="Adding_menu" style="display: none">
                        <div class="page-content">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td class="label_name">菜单名称</td>
                                    <td>
                                        <input name="menuName" type="text" ng-model="resource.name" class="addtext" value="" style="width: 300px"  title=""/>
                                        <i style="color: #F60;">*</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_name">是否显示</td>
                                    <td>
                                        <div class="radio ">
                                            <label>
                                                <input type="radio" class="ace" name="isShow" ng-model="resource.isShow"  ng-init="resource.isShow=1"  ng-checked="resource.isShow==1" value="1"  />
                                                <span class="lbl">是</span>
                                            </label>
                                        </div>
                                        <div class="radio ">
                                            <label>
                                                <input type="radio" class="ace" name="isShow"  ng-model="resource.isShow"  ng-checked="resource.isShow==0" value="0"  />
                                                <span class="lbl">否</span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="resource.isTitle==1">
                                    <td class="label_name">上级菜单</td>
                                    <td>
                                        <select title="" style="width:160px;" name="parentId" ng-model="resource.parentId" ng-init="resource.parentId=0" ng-change="updateSubresource()" size="1" id="select_Res">
                                            <option  value="0" ng-selected="true">------顶级菜单------</option>
                                            <option  ng-repeat="resource in resourceMap" ng-selected="resource.resId==resource.parentId"  value="{{resource.resId}}"
                                                     ng-bind-html ="'&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;'+resource.name | trustHtml"></option>
                                        </select>
                                        <i style="color: #F60;">*</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_name">类型</td>
                                    <td>
                                        <select name="type" ng-model="resource.type" ng-init="resource.type=0" size="1" id="select_type" title="">
                                            <option  ng-repeat="type in resourceType" ng-selected="type.typeId==resource.type"  value="{{type.typeId}}" ng-bind="type.name"></option>
                                        </select>
                                        <i style="color: #F60;">*</i>
                                    </td>
                                </tr>
                                <tr ng-hide="resource.isTitle==1">
                                    <td class="label_name">URL地址</td>
                                    <td>
                                        <input name="url" title="" type="text" ng-model="resource.url" value="" style="width: 300px" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label_name">描述</td>
                                    <td>
                                        <input name="remark" type="text" ng-model="resource.remark" value="" style="width: 300px"  title=""/>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="Res Manager_style">
            <div class="table_res_list">
                <table id="Res_list" cellpadding="0" cellspacing="0" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>
                            <input name="resCheckBox_All"  type="checkbox"  ng-click="selectAll($event)" class="ace" title=""/>
                            <span class="lbl" style="cursor:pointer;"></span>
                        </th>
                        <th >编号</th>
                        <th>资源名称</th>
                        <th>上级菜单</th>
                        <th>资源类型</th>
                        <th>是否显示</th>
                        <th>URL地址</th>
                        <th>创建日期</th>
                        <th>最后更新日期</th>
                        <th>描述</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="resource in data">
                        <td>
                            <input name="subResChkBox_{{$index}}"  value="{{resource.resId}}" type="checkbox"  class="ace subResChkBox" title=""/>
                            <span class="lbl" style="cursor:pointer;"></span>
                        </td>
                        <td ng-bind="resource.resId"></td>
                        <td class="atxt_name" ng-bind="resource.name"></td>
                        <td class="atxt_name" ng-bind="resource.parentName"></td>
                        <td class="atxt_name">
                            <span ng-class="{true:'label label-sm label-warning arrowed arrowed-right',false:'label label-sm label-success arrowed arrowed-in'}[resource.type==0]"  ng-bind="resource.type==0 ? '菜单':'按钮'"></span>
                        </td>
                        <td ng-bind="resource.isShow==1? '是':'否'"></td>
                        <td class="dt-grid-cell hidden-xs hidden-sm  text-center" ng-bind="resource.url"></td>
                        <td ng-bind="resource.createTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="resource.updateTime | date:'yyyy-MM-dd HH:mm:ss'"></td>
                        <td ng-bind="resource.remark"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="hupan_more eg-page"  url="/rest/menu/list"  request-page-params="requestParam" click-search="resourceSearch"  return-page-rows="data"></div>
        </div>
    </div>
</div>
<script th:src="@{/js/lib/jquery/jquery-1.8.3.min.js}"></script>
<script th:src="@{/js/lib/angular/angular.min.js}"></script>
<script th:src="@{/js/lib/angular/angular-sanitize.min.js}"></script>
<script th:src="@{/js/BaseService.js}"></script>
<script th:src="@{/js/system/controller/ResourceCtrl.js}"></script>
<script th:src="@{/js/system/service/ResourceService.js}"></script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/layer/layer.js}" type="text/javascript"></script>
</body>
</html>
